html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Reset CSS */

:root {
  --borderwhite: rgb(175, 175, 175);
  --background: rgb(36, 36, 36);
  --orange: rgb(255, 102, 0);
}

/* Variable */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  background-color: rgb(36, 36, 36);
  /* margin: 50px; */
}

#topbar {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  /* margin-bottom: 20px; */
  width: 70vw;
  padding-bottom: 30px;
  border-bottom: var(--borderwhite) 1px solid;
}

#bookList {
  margin-left: 50px;
}

#title h1 {
  color: var(--orange);
  font-size: 2.5rem;
  margin-bottom: 30px;
}

#title h2 {
  color: var(--borderwhite);
  font-size: 1.25rem;
  margin-bottom: 30px;
}

/* Container */

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 50px; */
  height: 90vh;
  width: 80vw;
}

.button {
  background: var(--background);
  border: solid var(--borderwhite) 1px;
  padding: 10px;
  width: 100px;
  border-radius: 3px;
  /* margin: 10px; */
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--orange);
}

.button:hover {
  background: rgb(255, 102, 0);
  color: #fff;
  cursor: pointer;
}

.button:visited {
  border: solid var(--borderwhite) 1px;
}

.functionButton {
  justify-self: flex-end;
}

/* bookrow */

.bookRow {
  height: 80px;
  width: 70vw;
  border-bottom: var(--borderwhite) 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.bookRow p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
}

.functionButton {
  background: var(--background);
  border: solid var(--borderwhite) 1px;
  padding: 5px;
  width: 100px;
  margin: 10px;
  border-radius: 3px;
  /* margin: 10px; */
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--orange);
}

.functionButton:hover {
  background: rgb(255, 102, 0);
  color: #fff;
  cursor: pointer;
}

.checked {
  padding: 5px;
  width: 100px;
  margin: 10px;
  border-radius: 3px;
  background: var(--orange);
  color: white;
  border: solid var(--borderwhite) 1px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

/* Form */

#form {
  margin: 20px;
  padding: 10px;
  border: var(--borderwhite) 1px solid;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  /* transition: 0.5s; */
}

.input {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: var(--borderwhite) 1px solid;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: var(--background);
  color: var(--orange);
}

/* Form Overlay */

/* #overlay {
height: 50px;
width: 50px;
  background: rgba(255, 38, 38, 0.719);
  position: fixed;
  transition: 0.2s ease-in-out;
}

#overlay:hover {

height: 100vh;
width: 100vw;
} */
